:root {
  --border: 8px solid #0a0a0a;
  background-color: #c2c2c2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.board {
  display: grid;
  height: 580px;
  width: 580px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 2px;
  position: relative;
}

.cross-line {
  position: absolute;
  width: 580px;
  height: 580px;
  stroke: #dc2626;
  stroke-width: 6;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}

button {
  background: #c2c2c2;
  border: none;
}

.nought {
  background-image: url("../assets/nought.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.cross {
  background-image: url("../assets/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.cell:nth-child(-n + 3) {
  border-bottom: var(--border);
  margin-top: 4px;
}

.cell:nth-child(3n + 1) {
  border-right: var(--border);
  margin-left: 4px;
}

.cell:nth-child(3n) {
  border-left: var(--border);
  margin-right: 4px;
}

.cell:nth-child(n + 7) {
  border-top: var(--border);
  margin-bottom: 4px;
}

.content {
  width: 100%;
}

input,
label {
  display: block;
  margin-bottom: 8px;
}

.player-one-div,
.player-two-div {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.player-one-div,
.player-one-info {
  color: #1e315c;
}

.player-two-div,
.player-two-info {
  color: #fca311;
}

.main {
  width: 580px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container {
  height: 600px;
}
.grid-container,
.game-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  justify-items: center;
  align-items: center;
  font-weight: 600;
  text-align: center;
}

.player-one-info,
.player-two-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  gap: 20px;
}

.board-wrapper {
  height: 730px;
}

.player-one-name,
.player-two-name {
  margin: 0;
}

.player-one-points,
.player-two-points {
  font-size: 80px;
  margin: 0;
}

input {
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0px 8px;
  font-size: 16px;
  height: 28px;
}

input::placeholder {
  color: black;
  font-size: 14px;
  opacity: 0.5;
}

.main-button {
  background-color: #e5e5e5;
  border: 2px solid black;
  width: 160px;
  height: 52px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 16px;
  transition-duration: 0.4s;
}

.main-button:hover {
  color: white;
  background-color: #fca311;
}

.restart {
  position: absolute;
  top: 20px;
  right: 60px;
}
